*{
    box-sizing: border-box;
}
body {font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0;}

header {padding: 50px; text-align: center; background-color: cyan;}

nav {display: flex; flex-direction: row; background-color: dimgray;}

nav a { padding: 14px  20px; text-transform: none; color: lightblue;}

.row {display: flex; flex-wrap: wrap;}

aside {flex: 30px; padding: 20px; background-color: salmon;}

section {flex: 70%; padding: 20px; background-color: gold;}

footer {padding: 20px; text-align: center; background-color: orangered (194, 41, 72);
}
@media screen and (max-width: 700px){
    nav, .row{
        flex-direction: row-reverse;
    }
}

@media screen and (max-width: 900px){
    nav{
        flex-direction: row-none;
        background-color: tomato;
    }
}